<option value='--/--' {{#if (matchesGrp '--/--' default)}}selected{{/if}}>--/--</option>
{{#each agList}}
  <option value={{.}} {{#if (matchesGrp . ../default)}}selected{{/if}}>{{.}}</option>
{{/each}}
