<option value='--/--' {{#if (matchesAccGrp '--/--' selAcc selGrp)}}selected{{/if}}>--/--</option>
{{#each agList}}
  <option value={{.}} {{#if (matchesAccGrp . ../selAcc ../selGrp)}}selected{{/if}}>{{.}}</option>
{{/each}}
